@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    font-family: v.$fuente_principal;
    background-color: v.$Very-dark-blue;
    color: v.$Pale-blue;
}


*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

// img {
//     max-width: 100%;
// }